spring:
  application:
    name: notification-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: adityasuke.123@gmail.com
    password: zavbrzgxuxlteriq   # remove spaces from app password
    protocol: smtp
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
